<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload Form</title>
    <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.min.js}"
          type="text/javascript"></script>
     <style>
      .container {
        margin: 50px;
      }
    </style>
</head>
<body>
    <div class="container">

    <h2>File Upload Form</h2>
    <form th:action="@{/user/addfile/add}" th:object="${fileForm}" method="post" enctype="multipart/form-data">
       
        <div class="col-md-6 text-center mb-3">

        <div class="form-group">
            <label class="custom-user-label" for="uid">User</label>
            <input th:field="*{uid}" type="text">
          </div>
          
            <div class="col-md-4">
                <select class="form-select" th:name="sid" th:id="sid" required>
                    <option th:each="sList : ${subjectList}" th:value="${sList.sid}" th:field="*{sid}" th:text="${sList.subjectName}" />
                </select>
            </div> 
        
            <div class="col-md-4">
                <select class="form-select" th:name="gid" th:id="gid" required>
                    <option th:each="gList : ${genreList}" th:value="${gList.gid}" th:field="*{gid}" th:text="${gList.genreName}" />
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-select" th:name="year" th:id="year" required>
                    <option th:each="i : ${#numbers.sequence(1980, 2050)}" th:value="${i}" th:field="*{year}" th:text="${i}+年度" />
                </select>
            </div>


        <div>
            <label for="data">File:</label>
            <input type="file" id="data" th:field="*{data}">
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
            </div>
        </div>
    </form>
</body>
</html>


</form>